@import url(/assets/css/reset.css);

:root {
  --bg-dark: #141d2f;
  --white: #ffffff;
  --blue: #0079ff;
  --gray: #697c9a;
  --dark-blue: #4b6a9b;
  --text-color: #2b3442;
  --bg-light: #f6f8ff;
  --dark-white: #fefefe;
  --red: #f74646;
  --input-bg-dark: #1e2a47;
}

body.dark-mode {
  background-color: var(--bg-dark);
}
.container {
  width: 100%;
  padding: 31px 24px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  line-height: 38.51px;
  color: var(--text-color);
}

body.dark-mode .logo {
  color: var(--white);
}

.dark-mode-btn,
.light-mode-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.dark-mode-btn p,
.light-mode-btn p {
  font-size: 13px;
  font-weight: 700;
  line-height: 19.25px;
  letter-spacing: 2.5px;
  color: var(--dark-blue);
}

.dark-mode-btn i,
.light-mode-btn i {
  font-size: 20px;
  color: var(--dark-blue);
}

.light-mode-btn {
  display: none;
}

body.dark-mode .light-mode-btn {
  display: flex;
}

body.dark-mode .dark-mode-btn {
  display: none;
}

.light-mode-btn p,
.light-mode-btn i {
  color: var(--white);
}

.search-input {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
}

.search-input input {
  width: 100%;
  box-shadow: 0px 16px 30px -10px #4660bb33;
  background-color: var(--dark-white);
  border-radius: 15px;
  padding: 17px 45px 18px;
  outline: none;
  border: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  color: var(--text-color);
}

body.dark-mode .search-input input {
  background-color: var(--input-bg-dark);
  color: var(--white);
  box-shadow: none;
}

.search-input input::placeholder {
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  color: var(--dark-blue);
}

body.dark-mode .search-input input::placeholder {
  color: var(--white);
}

.search-icon i {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search-input__wrapper {
  position: absolute;
  top: 7px;
  right: 7px;
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;
  align-items: end;
}

.search-input button {
  max-width: 84px;
  background-color: var(--blue);
  padding: 12.5px 16px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20.73px;
  color: var(--white);
  outline: none;
  border: none;
  cursor: pointer;
}

.search-input span {
  display: none;
  color: var(--red);
  font-size: 15px;
  font-weight: 700;
  line-height: 22.22px;
}

.user {
  background-color: var(--dark-white);
  box-shadow: 0px 16px 30px -10px #4660bb33;
  border-radius: 15px;
  padding: 32px 24px;
}

body.dark-mode .user {
  background-color: var(--input-bg-dark);
  box-shadow: none;
}

.user-img {
  width: 70px;
  border-radius: 50%;
}
.user-info-container {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-bottom: 33px;
}

.user-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 23.7px;
  color: var(--text-color);
}

body.dark-mode .user-name,
body.dark-mode .join-date,
body.dark-mode .user-contact-section i,
body.dark-mode .user-contact-section a,
body.dark-mode .user-follower-section p,
body.dark-mode .user-bio p {
  color: var(--white);
}

.username {
  font-size: 13px;
  font-weight: 400;
  line-height: 19.25px;
  color: var(--blue);
  display: inline-block;
  margin-bottom: 6px;
  text-decoration: none;
  cursor: pointer;
}

.join-date {
  font-size: 13px;
  font-weight: 400;
  line-height: 19.25px;
  color: var(--gray);
}

.user-bio {
  margin-bottom: 23px;
}

.user-bio p {
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  color: var(--dark-blue);
}

.user-follower-section {
  background-color: var(--bg-light);
  border-radius: 10px;
  padding: 18px 14px 19px 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 24px;
}

body.dark-mode .user-follower-section {
  background-color: var(--bg-dark);
}

.user-follower-section p {
  font-size: 16px;
  font-weight: 700;
  line-height: 23.7px;
  text-align: center;
  color: var(--text-color);
}

.user-follower-section p:first-child {
  font-size: 11px;
  font-weight: 400;
  line-height: 16.29px;
  text-align: center;
  color: var(--dark-blue);
  margin-bottom: 8px;
}

.user-contact-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  margin-bottom: 16px;
}

.user-contact-section {
  position: relative;
}

.user-contact-section i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  color: var(--dark-blue);
}

.user-contact-section a {
  text-decoration: none;
  padding-left: 33px;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.25px;
  color: var(--dark-blue);
}

.user-contact-section.not-available i,
.user-contact-section.not-available a {
  opacity: 0.5;
  user-select: none;
}

.user-bio.no-bio p {
  opacity: 0.75;
}

.no-content-screen {
  display: none;
}

body.no-content .user {
  display: none;
}

@media only screen and (min-width: 768px) {
  body {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  .container {
    max-width: 573px;
    padding: 0;
  }
  .search-input {
    margin-bottom: 24px;
  }
  .search-input input {
    padding: 22px 116px 22px 80px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
  .search-input input::placeholder {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
  .search-icon-img {
    top: 23px;
    left: 32px;
  }
  .search-input__wrapper {
    top: 9.5px;
    right: 10px;
    gap: 11px;
  }
  .search-input button {
    max-width: inherit;
    padding: 12.5px 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.7px;
  }
  .user {
    padding: 40px;
  }
  .user-info-section {
    gap: 41px;
    margin-bottom: 24px;
  }
  .user-info-section i {
    width: 117px;
  }
  .user-name {
    font-size: 26px;
    font-weight: 700;
    line-height: 38.51px;
    margin-bottom: 2px;
  }
  .username {
    font-size: 16px;
    font-weight: 400;
    line-height: 23.7px;
    margin-bottom: 4px;
  }
  .join-date {
    font-size: 15px;
    font-weight: 400;
    line-height: 22.22px;
  }
  .user-bio {
    margin-bottom: 32px;
  }
  .user-bio p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
  }
  .user-follower-section {
    padding: 15px 0px 17px 32px;
    margin-bottom: 30px;
  }
  .user-follower-section p {
    font-size: 22px;
    font-weight: 700;
    line-height: 32.58px;
    text-align: left;
  }
  .user-follower-section p:first-child {
    font-size: 13px;
    font-weight: 400;
    line-height: 19.25px;
    text-align: left;
    margin-bottom: 1px;
  }
  .user-contact-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
    margin-bottom: 0;
  }
  .user-contact-section a {
    font-size: 15px;
    font-weight: 400;
    line-height: 22.22px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 730px;
    padding: 0;
  }
  .dark-mode-btn:hover p,
  .dark-mode-btn:hover i {
    color: #222731;
    transition: all 0.5s;
  }
  .light-mode-btn:hover p,
  .light-mode-btn:hover i {
    color: #90a4d4;
    transition: all 0.5s;
  }
  .search-input {
    margin-bottom: 36px;
  }
  .search-input button:hover {
    background-color: #60abff;
    transition: all 0.5s;
  }
  .user {
    padding: 48px 48px 48px 202px;
    position: relative;
  }
  .user-info-section {
    align-items: start;
    gap: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  .user-info-section i {
    position: absolute;
    top: 48px;
    left: 48px;
  }
  .user-info-section__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .username {
    margin-bottom: 0px;
  }
  .join-date {
    margin-top: 8px;
  }
  .user-follower-section {
    margin-bottom: 37px;
  }
  .no-link a {
    cursor: default;
  }
  a:hover {
    text-decoration: underline;
    transition: all 0.5s;
  }
  .no-link a:hover {
    text-decoration: none;
  }
}
